<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Bitcoin Real Price</title>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>

</head>
<body onload="update_values();">
	<h1>Bitcoin Price</h1>
	BTC : $<span id="result"></span>
</body>


<script type="text/javascript">
// const api = 'http://127.0.0.1:5000/bitcoin/current_price/'+{{ l_price }}
// console.log(api)
var intervalID = setInterval(update_values,5000);

  function update_values() {
        const api = '/bitcoin/current_price'
        fetch(api).then(function(response){
          return response.json()
        }).then(function(data){
          console.log(data);
          document.getElementById('result').innerHTML=data['price'];
        });
        
    };
  
  
</script>
</html>
